<settings>
    <servers>
        <server>
            <!-- Id has to match the id provided in pom.xml -->
            <id>reposilite-repository-DeiutzEntertainment</id>
            <username>${env.SECRET_REPOSITORY_USER}</username>
            <password>${env.SECRET_REPOSITORY}</password>
        </server>
    </servers>
</settings>