<settings>
    <servers>
        <server>
            <!-- Id has to match the id provided in pom.xml -->
            <id>reposilite-repository-DeiutzEntertainment</id>
            <username>user</username>
            <password><secret></secret></password>
        </server>
    </servers>
</settings>tewrew